extends ../layouts/main-layout.pug
  
block content
  main
    .grid
      each product in prods
        article.card.product-item
          header.card__header
            h1.product__title #{product.title}
            img.card__image(src=`/${product.imageUrl}`, alt=product.title)
          .card__content
            .card-details
              h2.product__price $#{product.price}
              p.product__description #{product.description}
            .card__actions
              a(class='btn-link', href=`/admin/edit-product/${product._id}?edit=true`) Edit
              form(action="/admin/delete-product", method='POST')
                input(type="hidden", name='productId', value=product._id)
                input(type="hidden", value=csrfToken, name='_csrf')
                
                button(type='submit') Delete
                
      else
        h1 No books yet