extends ../layouts/main-layout.pug
  
block content
  main
    secion.pagination
      if (currentPage !== 1 && previousPage !== 1)
        a(href='/?page=1') 1
      if hasPreviousPage
        a(href=`/?page=${previousPage}`) #{previousPage}
      a(href=`/?page=${currentPage}`, class='active') Current page #{currentPage}
      if hasNextPage
        a(href=`/?page=${nextPage}`) #{nextPage}
      if lastPage !== currentPage && nextPage !== lastPage
        a(href=`/?page=${lastPage}`) #{lastPage}
    .grid
      each product in prods
        article.card.product-item
          header.card__header
            h1.product__title #{product.title}
            img.card__image(src=product.imageUrl, alt=product.title)
          .card__content
            .card-details
              h2.product__price $#{product.price}
              p.product__description #{product.description}
            .card__actions
              a(href=`/products/` + product._id, class='btn-link') Details
              if (isAuthenticated)
                form(action="/cart", method='POST')
                  input(type="hidden", value=csrfToken, name='_csrf')
                  button Add to cart
                  input(type="hidden", name='productId', value=product._id)

      else
        h1 No books yet