extends ../layouts/main-layout.pug
  
block content
  main
    .grid
      each product in prods
        article.card.product-item
          header.card__header
            h1.product__title #{product.title}
            img.card__image(src=product.imageUrl, alt=product.title)
          .card__content
            .card-details
              h2.product__price $#{product.price}
              p.product__description #{product.description}
            .card__actions
              a(href=`/products/` + product._id, class='btn-link') Details
              form(action="/cart", method='POST')
                button Add to cart
                input(type="hidden", name='productId', value=product._id)
      else
        h1 No books yet