extends ../layouts/main-layout.pug
  
block content
  main
    secion.pagination
      if (currentPage !== 1 && previousPage !== 1)
        a(href='/products/?page=1') 1
      if hasPreviousPage
        a(href=`/products/?page=${previousPage}`) #{previousPage}
      a(href=`/products/?page=${currentPage}`, class='active') #{currentPage}
      if hasNextPage
        a(href=`/products/?page=${nextPage}`) #{nextPage}
      if lastPage !== currentPage && nextPage !== lastPage
        a(href=`/products/?page=${lastPage}`) #{lastPage}
    .grid
      each product in prods
        article.card.product-item
          header.card__header
            h1.product__title #{product.title}
            img.card__image(src=product.imageUrl, alt=product.title)
          .card__content
            h2.product__price $#{product.price}
            p.product__description #{product.description}
            if (isAuthenticated)
              form(action="/cart", method='POST')
                input(type="hidden", value=csrfToken, name='_csrf')
                input(type="hidden", name='productId', value=product._id)
                button Add to cart
      else
        h1 No books yet